h2 Inicio
p El centro Integra Comunicación y Autonomía de Valencia abrió sus puertas en el barrio de Benimaclet de Valencia en septiembre de 2010. Y desde noviembre de 2015 también prestamos nuestros servicios en el municipio de Benaguasil, en la comarca del Camp de Túria.
p Nuestra labor terapéutica se centra en la atención de personas con dificultades y trastornos en su comunicación y autonomía desde un punto de vista integral. Por ello el EQUIPO INTEGRA está formado por jóvenes profesionales de la logopedia, psicología, psicopedagogía y fisioterapia.
p Realizamos nuestra labor asistencial desde un abordaje multidisciplinar, buscando siempre el mejor tratamiento posible para cada uno de nuestros pacientes y asegurando la generalización y funcionalidad de los objetivos a través del contacto directo con todos los agentes que conforman su día a día (profesionales sanitarios, familia-contexto social y ámbito escolar)
p En otra vertiente, desde Integra Comunicación y Autonomía apostamos por la formación permanente y el intercambio de experiencias, por lo que organizamos eventualmente actividades formativas dirigidas tanto a profesionales como a estudiantes.

p No dude en informarse,
p EQUIPO INTEGRA
